@tailwind base;
@tailwind components;
@tailwind utilities;


.pop{
  font-family: "Poppins", sans-serif;
}

.rub{
  font-family: "Rubik Scribble", system-ui;
}

.mar{
  font-family: "Markazi Text", serif
}

.animation{
  animation: move 10s linear infinite;
}
.animation2{
  animation: joss 10s linear infinite;
}
 
.rotet{
  position: absolute;
  animation: moveing ease-in; 
  animation-duration: 2s;
}
.rotet2{
  position: absolute;
  animation: moveing ease-in ; 
  animation-duration: 2s;
  animation-delay: 2s;
}
.rotet3{
  position: absolute;
  animation:moveing ease-in ;
  animation-duration: 2s;
  animation-delay: 4s; 
}
.rotet4{
  position: absolute;
  animation:10s moveing ease-in ; 
  animation-duration: 2s;
  animation-delay: 6s; 
}

@keyframes moveing{
 to{
  transform: rotate(0deg);
 }from{
  transform: rotate(360deg);
 }
}
 
@keyframes joss{
  0%{  
   
    bottom: 10%;
    opacity: 1;
  }
  20%{
     left:20%;
    bottom: 20%;
  }
  30%{
    left: 30%;
    bottom:30%;
  }
  40%{
    left: 40%;
    bottom: 40%;
  }
  50%{
 left:50%;
 bottom:50%

  }
  60%{
   left: 70%;
   bottom: 70%;
  }
  70%{
  left: 75%;
  bottom:75%
  }
  80%{
    left:80%;
    bottom:80%
  }
  90%{
    left:90%;
    bottom:90%
  }
  100%{   
    bottom:95%;
    left: 95%;
    opacity: 0;
  }
}
@keyframes move{
    0%{
      top:0%;
     
      opacity: 1;
    }
    20%{
    
      left: 20%;
    
    }
    30%{
      left:30%;
    

    }
    40%{
      top:40%;
   

    }
    50%{
      top:50%;

    }
    60%{
      top:60%;
    }
    70%{
      top:70%;  
    }
    80%{
      top:80%;
    }
    90%{
      top:90%;

    }
    100%{
      top:95%;
      left:95%;
    }
  }
