@tailwind base;
@tailwind components;
@tailwind utilities;


.pop{
  font-family: "Poppins", sans-serif;
}

.rub{
  font-family: "Rubik Scribble", system-ui;
}

.mar{
  font-family: "Markazi Text", serif
}

.card-skill:hover {
 .info-skill{
 display: block;
 width: 300px;
 z-index: 1000;
 }
}
.moveDiv{
  animation: divMove 3s ease forwards;
}
@keyframes divMove{
  to{
    position: absolute;
    left: -2400px;
  }from{
    left: 0;
  }
}

.animation{
  animation: move 10s linear infinite;
}
.animation2{
  animation: joss 10s linear infinite;
}
 
.rotet{
  position: absolute;
  animation: moveing ease-in; 
  animation-duration: 2s;
}
.rotet2{
  position: absolute;
  animation: moveing ease-in ; 
  animation-duration: 2s;
  animation-delay: 2s;
}
.rotet3{
  position: absolute;
  animation:moveing ease-in ;
  animation-duration: 2s;
  animation-delay: 4s; 
}
.rotet4{
  position: absolute;
  animation:10s moveing ease-in ; 
  animation-duration: 2s;
  animation-delay: 6s; 
}

.htmlAnimation{
  animation: moveHtml 20s ease-in infinite;
}
.cssAnimation{
  animation: moveCss 20s ease-in infinite;
}
.jsAnimation{
 animation:updown 3s ease infinite 
}
@keyframes updown{
  0%{
    right:50%;
    top:30% ;   
  
  }40%{
    top: 28%;

  }80%{    
    top: 30%;
  }100%{
    right:50%;
    top:30% ; 
  }
}
@keyframes moveCss{
  to{
    top: 0;
    right: 5%;
    opacity: 1;
  }
  from{
    top: 60%;
    right: 5%;
    opacity: 0;
  }
}
@keyframes moveHtml{
  to{
    bottom: 0;
    left: 5%;
    opacity: 1;
  }
  from{
    bottom: 60%;
    left: 5%;
    opacity: 0;
  }
}

@keyframes moveing{
 to{
  transform: rotate(0deg);
 }from{
  transform: rotate(360deg);
 }
}
 
@keyframes joss{
  0%{  
   
    bottom: 10%;
    opacity: 1;
  }
  20%{
     left:20%;
    bottom: 20%;
  }
  30%{
    left: 30%;
    bottom:30%;
  }
  40%{
    left: 40%;
    bottom: 40%;
  }
  50%{
 left:50%;
 bottom:50%

  }
  60%{
   left: 70%;
   bottom: 70%;
  }
  70%{
  left: 75%;
  bottom:75%
  }
  80%{
    left:80%;
    bottom:80%
  }
  90%{
    left:90%;
    bottom:90%
  }
  100%{   
    bottom:95%;
    left: 95%;
    opacity: 0;
  }
}
@keyframes move{
    0%{
      top:0%;
     
      opacity: 1;
    }
    20%{
    
      left: 20%;
    
    }
    30%{
      left:30%;
    

    }
    40%{
      top:40%;
   

    }
    50%{
      top:50%;

    }
    60%{
      top:60%;
    }
    70%{
      top:70%;  
    }
    80%{
      top:80%;
    }
    90%{
      top:90%;

    }
    100%{
      top:95%;
      left:95%;
    }
  }
  .card{
    z-index: 1;
  }
.card:hover{
 .angel{    
    transform: rotate(0deg);
    width: 120% ;
    height: 120%;
    z-index: -1;
 }
}
.angel{
  z-index: -1;
}
.over-lay{

}

.card-project:hover{ 
  .over-lay{
    top: 0;
    color: white;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    background-color: black;
  }
 
}